.idea/
.vscode/
.claude/
.history/

**/target/
**/node_modules/
**/dist/
**/logs/
**/*.log
**/*.iml
**/.VSCodeCounter/

**/.venv/
**/__pycache__/
**/*.py[cod]
**/.env
**/.env.*
**/db.sqlite3
**/media/
**/staticfiles/
